{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='style/main.css') }}">
<script>
    const searchForOperation = (event) => {
        event.preventDefault(); // предотвращаем отправку формы
        const searchInputValue = document.getElementById("search").value;
        const dateFromSelectValue = document.getElementById("check-in").value;
        const dateFrom = dateFromSelectValue.trimEnd()
        const dateToSelectValue = document.getElementById("check-out").value;
        const dateTo = dateToSelectValue.trimEnd()
        const minPriceSelectValue = document.getElementById("min-price").value || 0;
        const maxPriceSelectValue = document.getElementById("max-price").value || 100000;

              // Получаем все чекбоксы с именем service
      const serviceCheckboxes = document.querySelectorAll('input[name="service"]:checked');
      
      // Формируем строку с выбранными услугами
      let selectedServices = [];
      serviceCheckboxes.forEach(checkbox => {
          selectedServices.push(checkbox.value);
      });
      if (!searchInputValue || !dateFromSelectValue || !dateToSelectValue) {
            alert("Пожалуйста, введите название отеля и дату заезда/выезда.");
            return; // Выход из функции, если данные не введены
        }
      const servicesString = encodeURIComponent(selectedServices.length > 0 ? selectedServices.join(" ") : "Парковка"); 
        window.location.href = `/v1/pages/hotels/${searchInputValue}?date_from=${dateFrom}&date_to=${dateTo}&services=${servicesString}&min_check=${minPriceSelectValue}&max_check=${maxPriceSelectValue}`;
    }
</script>
{% endblock %}

{% block content %}
<html>
    <body>
      <div class="search-container">
        <form id="hotel-search">
          <input type="text" id="search" placeholder="Введите название города или отеля">

          <div class="date-range">
            <input type="date" id="check-in" required>
            <input type="date" id="check-out" required>
          </div>

          <div class="price-range">
            <input type="number" id="min-price" placeholder="Мин. цена">
            <input type="number" id="max-price" placeholder="Макс. цена">
          </div>

          <div class="servicesss">
            <label><input type="checkbox" name="service" value="Wi-Fi"> Wi-Fi</label>
            <label><input type="checkbox" name="service" value="Парковка"> Парковка</label>
            <label><input type="checkbox" name="service" value="Завтрак"> Завтрак</label>
            <label><input type="checkbox" name="service" value="Бассейн"> Бассейн</label>
            <label><input type="checkbox" name="service" value="Тренажерный зал"> Тренажёрный зал</label>
            <label><input type="checkbox" name="service" value="Кондиционер в номере"> Кондиционер в номере</label>
          </div>
          <button onclick="searchForOperation(event)" type="submit" class="search-button">Найти отели</button>
        </form>
      </div>
    </body>
    </html>
{% endblock %}