{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='style/pay.css') }}">
<script src="https://js.stripe.com/v3/"></script>

<script>  
    const stripe = Stripe('pk_test_51Q64pzEfHbwG18yBRwBfKOIMw3VLVXjyjxDFCtlRtldBVij97WQPLsJ5IFHj3PTuQ2AuiuMbg6wfKsYkgxy7TvOB004PNO55h9'); 
    const elements = stripe.elements(); 

    const cardElement = elements.create('card', { 
        style: { 
            base: { 
                fontSize: '16px', 
                color: '#32325d', 
                '::placeholder': { 
                    color: '#aab7c4' 
                } 
            }, 
            invalid: { 
                color: '#fa755a', 
                iconColor: '#fa755a' 
            } 
        } 
    }); 

    document.addEventListener("DOMContentLoaded", function() { 
        cardElement.mount('#card-element'); 

        const form = document.getElementById('payment-form'); 
        form.addEventListener('submit', async (event) => { 
            event.preventDefault(); 

            // Создание токена 
            const { token, error } = await stripe.createToken(cardElement); 

            if (error) { 
                console.log(error); 
                alert(error.message); 
            } else { 
                // Отправьте токен на сервер 
                sendTokenToServer(token); 
            } 
        }); 
    });

    async function sendTokenToServer(token) {
        const currentUrl = window.location.href; 
        const url_book = new URL(currentUrl); 
        const bookingId = url_book.searchParams.get('booking_id'); 

        const params = new URLSearchParams({ 
            token: token.id, 
            booking_id: bookingId, 
        }); 
        const url = "http://127.0.0.1:8000/v1/payments/pay";   
        await fetch(`${url}?${params}`, { 
            method: 'POST', 
            headers: { 
                'Accept': 'application/json' 
            } 
        }) 
        .then(response => {   
            if (response.status === 200) {   
                alert("Комната оплачена!");   
                window.location.href = "/v1/pages/bookings";   
            } else {   
                response.json().then(data => { 
                    alert("Произошла ошибка при оплате комнаты");  
                }); 
            }   
        });  
    }
</script> 
{% endblock %}

{% block content %}
<body>  
    <div class="container">  
        <form id="payment-form">  
            <div id="card-element"> 
                <label>Card Number</label> 
                <input type="text" size="20" data-stripe="number"> 
                <label>Expiration (MM/YY)</label>      
                <input type="text" size="2" data-stripe="exp_month"> 
                <input type="text" size="2" data-stripe="exp_year"> 
                <label>CVC</label> 
                <input type="text" size="4" data-stripe="cvc"> 
                </div> 
            <div id="card-errors" role="alert"></div> 
            <button type="submit" >Оплатить</button>  
        </form>  
    </div>  
</body> 
{% endblock %}