{% extends "base.html" %}  
 
{% block head %}  
<link rel="stylesheet" href="{{ url_for('static', path='style/pay.css') }}">  
<script src="https://js.stripe.com/v3/"></script>  
 
<script>    
    const stripe = Stripe('pk_test_51Q64pzEfHbwG18yBRwBfKOIMw3VLVXjyjxDFCtlRtldBVij97WQPLsJ5IFHj3PTuQ2AuiuMbg6wfKsYkgxy7TvOB004PNO55h9');   
    const elements = stripe.elements();   
 
    const cardElement = elements.create('card', {   
        style: {   
            base: {   
                fontSize: '16px',   
                color: '#32325d',   
                '::placeholder': {   
                    color: '#aab7c4'   
                }   
            },   
            invalid: {   
                color: '#fa755a',   
                iconColor: '#fa755a'   
            }   
        }   
    });   
 
    document.addEventListener("DOMContentLoaded", function() {   
        cardElement.mount('#card-element');   
 
        const form = document.getElementById('payment-form');   
        form.addEventListener('submit', async (event) => {   
            event.preventDefault();   
 
            // Создание токена   
            const { token, error } = await stripe.createToken(cardElement);   
 
            if (error) {   
                console.log(error);   
                alert(error.message);   
            } else {   
                // Отправьте токен на сервер   
                sendTokenToServer(token);   
            }   
        });   
    });  
 
    async function sendTokenToServer(token) {  
        const currentUrl = window.location.href;   
        const url_book = new URL(currentUrl);   
        const bookingId = url_book.searchParams.get('booking_id');   
 
        const params = new URLSearchParams({   
            booking_id: bookingId,   
        });   
        const url = "http://127.0.0.1:8000/v1/payments/pay";     
        await fetch(`${url}?${params}`, {   
            method: 'POST',   
            headers: {   
                'Accept': 'application/json',
                'Stripe-Token': token.id,
            }   
        })   
        .then(response => {     
            if (response.status === 200) {     
                alert("Комната оплачена!");     
                window.location.href = "/v1/pages/bookings";     
            } else {     
                response.json().then(data => {   
                    alert("Произошла ошибка при оплате комнаты");    
                });   
            }     
        });    
    }  
</script>   
{% endblock %}  
 
{% block content %}  
<body>    
    <div class="container">    
        <form id="payment-form" style=" margin-top: 30px;">    
            <div id="card-element" style=" margin: auto; width: 35%;border: 1px solid #ddd; border-radius: 5px; padding: 10px; margin-bottom: 15px;">   
            </div>   
            <div id="card-errors" role="alert"></div>  
            <button type="submit" style=
            "margin: auto;
            display: block;
            width: auto;
            padding: 10px;
            background-color: #e55c00;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;">Оплатить</button>    
        </form>    
    </div>    
</body>   
{% endblock %}