{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='style/login.css') }}">
    <script>
        async function registerUser() {
            const wrongCredentialsSpan = document.getElementById("wrong_credentials");
            wrongCredentialsSpan.textContent = "";
           const url = "http://127.0.0.1:8000/v1/auth/register";
           const data = {
           email: document.getElementById("email").value,
           password: document.getElementById("password").value,
           
           };
            await fetch(url, {
                method: 'POST',
                headers: {'Accept': 'application/json','Content-Type': 'application/json'},
                body: JSON.stringify(data),
            }).then(response => {
                if (response.status === 201) {
                    window.location.href = "/v1/pages/auth/login"
                }
                if (response.status === 409) {
                    wrongCredentialsSpan.textContent = "Такой пользователь уже существует. Попробуйте ещё раз";
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
<div class="login">
    <h1>Регистрация</h1>
        <div>
            <div class="flex flex-col items-start text-xl mb-5">
                <label for="email" class="mb-1">Email</label>
                <input class="border-b-2 border-yellow-400 mb-4" id="email" name="email" type="text" value="" placeholder="test@test.ru">
                <label style="margin-top: 5px;" for="password" class="mb-1">Пароль</label>
                <input class="border-b-2 border-yellow-400" id="password" name="password" type="password" value="" placeholder="********">
                <span id="wrong_credentials" class="text-sm text-red-400"></span>
            </div>
        </div>
      <button style="margin-top: 10px;" onclick="registerUser()">Зарегистрироваться</button>

    <div class="register">
     Уже зарегистрированы?
      <a href="/v1/pages/auth/login"
      class="underline text-blue-600 hover:text-blue-800 visited:text-blue-600">
       Войти
   </a>
    </div>
  </div>
{% endblock %}